<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantillas/header::cabecero-seccion(titulo = 'Inicio')}">
</head>
<body>

<!--Barra de navegacion-->
<div th:replace="~{plantillas/navbar::navegacion-seccion}"/>

<!--Div para desplegar la tabla    -->
<div class="container">
    <div class="container text-center" style="margin:30px">
        <h3>Zorro Abarrotero</h3>
    </div>
</div>

<div th:replace="~{plantillas/footer::pie-pagina-seccion}"></div>

</body>
</html>